html, body{
  margin: 0;
  font-family: verdana;
  color: white;
  background-image: url('bg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.wrapper{
  margin-left: 450px;
  margin-top: 195px;
  margin-left: 550px;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('bg1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  background-attachment: fixed;
  font-weight: bold;

}
.forms{
  color: white;
}
.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #000;
  -webkit-box-shadow: 3px 3px 5px 6px #000;
  box-shadow:         3px 3px 5px 6px #000;
}
